@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto+Condensed&display=swap');


*{
    margin: 0;
    padding: 0;
   
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.4;
    overflow-x: hidden;
   
    scroll-behavior: smooth;
    
    
}

.smooth{
    width: 100%;
    height: 100%;
    /*css smooth scroll*/
scroll-snap-type: y mandatory;
}



.showcasecontainer {
    width: auto;
    margin: auto;
    
}

.aboutcontainer {
    width: 80%;
    margin: auto;
}


.bg-light {
    background: #f4f4f4;
    color: #fff;
    
}


.bg-dark {
background: #5433FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}



/* NAV BAR */

nav {
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: rgba(0,0,0,0.9);
    
}

.logo {
    color: #f4f4f4;
    letter-spacing: 3px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width:30%;
}

.nav-links a {
    color: #f4f4f4;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;

}

.burger {
    
    cursor: pointer;
}
.burger div{
    display: none;
    border-radius: 5px;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
    
    
}

@media screen and (max-width:768px) {
    .nav-links{
       position: absolute;
       width: 100%;
       height: 92vh;
       top: 8vh;
       background-color: rgba(24,24,24,0.9);
       
       display: flex;
       flex-direction: column;
       align-items: center;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
    }

    .burger div {
        display: block;
    }
}


.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}



    /* SHOWCASE AREA */




#showcase {
background: #5433FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    
}



.showcase-content {
    display: flex; 
    text-align: center;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    
}




.showcase-content h1{
    color:white;
    font-size: 5rem;
    margin: 1rem;
    font-family: 'Nunito', sans-serif;
}

.showcase-content h2{
    letter-spacing: 5px;
    color:white;
    font-family: 'Nunito', sans-serif;
}

.showcase-content .btn {
    font-size: 1rem;
    padding: 1rem 1rem;
    background: transparent;
    transition: color 0.3s, background 0.3s;
    
}

.showcase-content .btn:hover {
background: white;
}



.btn {
    color:white;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    border: 2px solid #fff;
    border-radius: 10px;
    font-weight: bold;
    
    
    
}

/* Section: About */

#about {
    background: #181818;
    padding: 6rem 0;

}

#about h2, #services h2 {
    font-family: perpetua ;
    color: rgb(224, 224, 224);
    margin-left: 1rem;
    font-size: 3rem;
    margin-bottom: 5px;
    

}

#about h3 {
    font-family: arial;
    color: rgb(224, 224, 224);
    font-size: 20px;
   
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: left;

}

#about p.lead{

    color: rgb(224, 224, 224);
    margin-bottom: 1rem;
    
    

}

#about .about-content {
    display:flex;
}

#about .about-text,
#about .about-image {
    flex: 1;
}

#about .about-text {
    text-align: left;
    margin-left: 1rem;
    
}

#about .about-image img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    float: right;
    padding-bottom: 1rem;
    
}



/* Service Section */

#services  {
    background-image: url(whatido.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;       
}

 .services-container {
        
        background: rgba(0,0,0,0.6);
        color: #fff;
        height: 100vh;
}

#services h2 {
    text-align: center;
    padding: 1rem;
    color: white;
}

#services h3 {
    text-align: center;
    padding: 1rem;
}



/*Projects Sections */


#projects {
    background-color: #181818;
    height: 100vh;
}

#projects  {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: nunito;
    text-align: center;
    padding: 5rem;
    color: #f4f4f48a;
}




/* Contact Section */

#contact {
    background-image: url(ocean.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0, -30px;
    font-family: perpetua ;
    
    height:100%;
}


.contact-container {
        
    background: rgba(0,0,0,0.4);
    color: #fff;
    height: 66vh;
    
}



a { 
    color: inherit; 
}

#contact h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
}

#contact h3 {
    font-family: nunito;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: #f4f4f4da;
    width: 350px;
    word-wrap: break-word;
}




#contact h4 {
    text-align: center;
    font-size: 2rem;
    
    

}

#contact .form-box {
    background: transparent;
    
    
}

#contact .form-group {
    margin-bottom: 2rem;
}

#contact .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    margin-left: 10%;
    font-size: 1rem;
}

#contact .form-group input,
#contact .form-group textarea {
    width: 50%;
    margin-left: 25%;
    font-size: 1.3rem;
    padding: 1rem;
    border: 0.5px solid #333;
    border-radius: 5px;
}

#contact .form-group textarea {
    font-family: Arial, sans-serif;
}

.wrapper {
    text-align: center;
    
}

#contact .contact-btn {
    font-family: 'Roboto Condensed';
    

    max-width:200px;
    
    display: inline-block;
    padding: 1rem 1rem;
    border-color: white;
    border-radius: 5px;
    font-size: 1rem;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: background 0.4s;
}

#contact .contact-btn:hover {
    background: #f4f4f477;
    color: #fff;
}

#contact .form-container {
    position: relative;
}




/* Footer */

#footer {
background: #5433FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #fff;  
height: 26vh; 
width:100%;

}


.footer-container{
    background-color: rgba(0,0,0,0.2);
    height:26vh;
    
}




footer h2 {
    
    padding-top: 2rem;
    
    word-spacing: 10px;
}

footer p { 
    text-align: center;
    padding-top: 3rem;
}




ul li {
    
    
    list-style: none;
    
    display: inline;
    padding: 10px;
    
    
    line-height: 10px;
    
}

ul li:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.25);
}





/* RESPONSIVE */



